@use "tailwindcss";
@use "../styles/main";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-libre-franklin);
  --font-pp-mori: var(--font-pp-mori);
  --font-pp-mori-extra-bold: var(--font-pp-mori-extra-bold);
  --font-sa-long-beach: var(--font-sa-long-beach);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}