@use "tailwindcss";
@use "../styles/main";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-libre-franklin);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}