@use "./variables" as *;

.stepper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  width: 100%;
  margin: 20px 0px;
  padding: 0 10px; // Padding to account for circle radius

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
    flex: 1;
    position: relative;
    z-index: 1;

    // Connecting line - positioned between circles
    &::after {
      content: '';
      position: absolute;
      top: 10px; // Half of circle height (20px / 2)
      left: calc(50% + 10px); // Start from right edge of current circle
      width: calc(100% - 20px); // Span to next circle (minus circle widths)
      height: 2px;
      background-color: $color-secondary;
      z-index: 0;
      transform: translateY(-50%);
    }

    // Hide line on last item
    &:last-child::after {
      display: none;
    }

    // Show completed line if this item is completed
    &--completed::after {
      background-color: $color-primary;
    }
  }

  &__item--current {
    .stepper__item-circle {
      background-color: $color-primary;
    }

    .stepper__item-title {
      font-weight: 600;
    }
  }

  &__item--completed {
    .stepper__item-circle {
      background-color: $color-primary;
    }
  }

  &__item-circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: $color-secondary;
    flex-shrink: 0;
    position: relative;
    z-index: 2;
  }

  // Remove the connector element styles since we're using ::after
  &__connector {
    display: none;
  }
  
  &__item-title {
    display: none;
    font-size: 14px;
    font-weight: 300;
    color: $color-text;
    text-align: center;

    @include tablet {
      display: block;
    }
  }
}