@use "./variables" as *;

.wizard {

  &__form-container {
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #E4EDFF;
  }

  &__form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    
    .wizard__form-title {
      font-family: var(--font-pp-mori-extra-bold);
      font-size: 26px;
      color: #1D2226;

      @include tablet {
        font-size: 30px;
      }
    }
  
    .wizard__form-step {
      font-family: var(--font-libre-franklin);
      font-size: 14px;
      color: #666666;

      @include tablet {
        font-size: 18px;
      }
    }
  }


  &__form {
    .wizard__form-content {
      display: grid;
      grid-template-columns: 1fr;
      gap: 18px;

      @include tablet {
        grid-template-columns: repeat(2, 1fr);
      }

      .form-element-wrapper {
        display: flex;
        flex-direction: column;
        gap: 10px;
        grid-column: span 2;
        padding-bottom: 20px;
        width: 100%;

        @include tablet {
          grid-column: span 1;
        }

        & > label {
          display: flex;
          flex-direction: column;
          gap: 10px;
          width: 100%;
          position: relative;
        }

        input {
          width: 100%;
          max-width: 100%;
          padding-left: 8px;

          &[type="date"] {
            width: fit-content;
          }

          &[type="file"] {
            cursor: pointer;
            width: fit-content;
          }
        }

        button {
          cursor: pointer;
          width: fit-content;
        }

        textarea {
          border: 1px solid #e4edff;
          width: 100%;
          max-width: 100%;
          min-height: 100px;
          resize: vertical;
        }

        &.form-element-wrapper--full-width {
          grid-column: span 2;
        }
      }

      .wizard__disclaimer-text {
        grid-column: span 2;
      }

      .wizard__form-checkbox {
        align-items: flex-start;
        display: flex;
        padding-bottom: 20px;
        position: relative;
        gap: 8px;
        grid-column: span 2;
        cursor: pointer;

        input {
          border: 1px solid #E4EDFF;
        }

        .wizard__error-text {
          bottom: -10px;
          color: crimson;
        }
      }

      p {
        margin: 20px 0px;
        padding: 0px;
        font-family: var(--font-libre-franklin);
        font-size: 18px;
        letter-spacing: normal;
        line-height: 30px;
      }
  
      input {
        border: 1px solid #E4EDFF;
      }

      .wizard__error-text {
        color: crimson;
        display: block;
        font-size: 12px;
        position: absolute;
        bottom: -22px;
        left: 0;
      }
    }
  }

  .wizard__navigation {
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: space-between;
    margin-top: 24px;
    
    .nav-button {
      color: white;
      background-color: $color-primary;
      font-family: var(--font-sa-long-beach);
      font-size: 18px;
      font-weight: 00;
      height: 42px;
      letter-spacing: normal;
      line-height: 30px;
      padding: 0px 48px;
      border-radius: 10px;
      border: none;
      cursor: pointer;
      transition: background-color 0.3s ease;
      &:hover {
        background-color: rgba($color-primary, 0.8);
      }
    }
  }

}